/* Centering the canvas inside the main element */
main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height of the viewport */
  overflow: hidden; /* Hide overflow */
}

canvas {
  display: block; /* Removes default canvas margin */
}
